CompileFlags:
  Add: 
    - -Wno-ignored-attributes
    - -Wno-unused-function
    - -std=c++20
    - -fms-compatibility
    - -D_MSVC_LANG=202002L
  Remove: 
    - -f*
    - -m*
    - /Yu*
    - /FID*
    - -FI*
    # Explicitly keep -fms-compatibility by not matching it in Remove

Diagnostics:
  Suppress:
    - pragma_attribute_no_pop_eof
    - pragma_attribute_stack_mismatch

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 24
